CompileFlags:
  Remove: [-mno-direct-extern-access]

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

---

If:
  PathMatch: ['.*\.tpp$', '.*\.ipp$', '.*\.moc$']
CompileFlags:
  Add: [-xc++]

---

If:
  PathMatch: .*\.h$
CompileFlags:
  Add: [-xc++-header]
